@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --color: #1ebeb6;
    --primar-color: #efbb20;
    --navbar-color: #2c353d;
    --button-color: linear-gradient(90deg, rgba(30, 190, 182, 1) 0%, rgba(0, 130, 120, 1) 0%);
    --box-shadow: 0 0 10px #e7e7e7e;
    --backgorund: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: var(--color);
    width: 100%;
    padding: 1.5rem 7%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background: #f7f7f7;
}

nav a {
    color: white;
    font-size: 1.5rem;
    margin: 0 1.5rem;
    text-decoration: none;
}


.menu-de-icones div {
    color: white;
    font-size: 2rem;
    display: inline-flex;
}

.menu-bar {
    display: none;

}

.home {
    padding: 2rem 7%;
    width: 100%;
    background: var(--backgorund);
}

.main-home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 6%;
}

.main-inner-home {
    flex: 1 1 45rem;
}

.main-inner-home h2 {
    font-size: 40px;
    font-weight: 500;
    padding: 0.5rem 0;
}

.main-inner-home h1 {
    font-size: 40px;
    padding-bottom: 2rem;
    font-weight: 700;
}

.main-inner-home p {
    font-size: 1.5rem;
    line-height: 3rem;

}

.main-inner-home .rigth-content-img img {
    width: 100%;
    padding: 4rem;
}

.home-back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.013;
}






@media (max-width:768px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    #menu-bar {
        display: initial;

    }

    .nav {
        position: absolute;
        top: 100%;
        left: -100%;
        background: var(--color);
        width: 100%;
        height: 100vh;
    }

    .nav.active {
        left: 0;
    }

    nav a {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        margin: 1rem;
        border: 3px solid var(--backgorund);
        border-radius: 10px;
        background: var(--button-color);
    }

    .main-inner-home {
        padding-top: 16rem;
    }

    .main-inner-home .rigth-content-img img {
        padding: 2rem;
    }


}


/*areas Section*/

.areas {
    padding: 2rem 7%;
    width: 100%;
    background-color: var(--backgorund);
}

.areas-heading h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 3rem;
}

.areas-heading span {
    color: #1ebeb6;
}

.main-areas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-areas-espec {
    display: block;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-inner-areas {
    flex: 1 1 300px;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.main-inner-areas .areas-img img {
    width: 100%;
}

.areas-content {
    text-align: stre;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 4rem 0;
}


.areas-content h2 {
    font-size: 22px;
    padding: 1rem 0;
}

.areas-content p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.areas-content a {
    padding: 1.5rem 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
    color: white;
    background: var(--button-color);
    transition: 0.8s;
}

.areas-content a:hover {
    border-radius: 0;
}

.alguns-SUS {
    padding: 2rem 7%;
}

.heading-SUS {
    text-align: center;
}

.heading-SUS h1 {
    font-size: 40px;
    padding: 2rem;
}

.heading-SUS h1 span {
    color: var(--color);
}

.main-SUS {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.main-inner-SUS {
    flex: 1 1 45rem;
}

.main-inner-SUS img {
    width: 100%;
}

.conteudo-SUS {
    padding: 0 4rem;
}

.conteudo-SUS h2 {
    font-size: 25px;
    padding: 4rem 0;
}

.conteudo-SUS p {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.conteudo-SUS a {
    padding: 2rem 4rem;
    background: var(--button-color);
    color: white;
    font-size: 1.5rem;
    transition: 0.5s;
}

.conteudo-SUS a:hover {
    border-radius: 15px;
}


.nosso-servicos {
    padding: 3rem 7%;
    width: 100%;
}

.servicos-heading {
    text-align: center;
}

.servicos-heading h1 {
    font-size: 40px;
}

.servicos-heading h1 span {
    color: var(--color);
}

/*carrosel de imagens*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagem-conteudo {
    padding: 2rem 0;
}

.footer {
    padding: 3rem 7%;
    background: var(--color);
}

.main-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.main-inner-footer {
    flex: 1 1 300px;
}

.main-inner-footer h2 {
    font-size: 22px;
    color: white;
}

.main-inner-footer a {
    font-size: 22px;
    display: inline;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    color: white;
}

.mapa {
    position: relative;
    width: 2200px;
    height: 500px;
    background: white;
}


.mapa-heading {
    text-align: center;
}

.mapa-heading h2 {
    font-size: 28px;
}

.mapa-heading h2 span {
    color: var(--color);
}

.container h2 {
    color: var(--backgorund);
}

.container .search {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search.active input {
    border-radius: 5px 5px 0 0;
}

.search .list {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search.active .list {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.list li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search.active .list li {
    display: block;
}

.list li:hover {
    background: var(--backgorund);
}

.search .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: var(--button-color);
    cursor: pointer;
}